# Dependencies
## JS
package-lock.json @SebastianKapunkt @mostafa-anm
## Python
pyproject.toml @herrbenesch @amureki
Pipfile.lock @herrbenesch @amureki
## GitHub Actions
.github/workflows/ci.yml @herrbenesch @amureki
.github/workflows/release.yml @herrbenesch @amureki
