{% load i18n %}
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>{{ subject }}</title>
  {% block styles %}
  {% include "emark/styles.html" %}
  {% endblock styles %}
</head>
<body>
{% block preheader %}
{% spaceless %}
<span class="preheader"></span>
{% endspaceless %}
{% endblock preheader %}
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <!-- START CENTERED WHITE CONTAINER -->
        <table role="presentation" class="main">

          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <!-- START ACTUAL CONTENT -->
                    {% spaceless %}
                    {% block content %}
                    {{ markdown_string }}
                    {% endblock %}
                    {% endspaceless %}
                    <!-- END ACTUAL CONTENT -->
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED WHITE CONTAINER -->

        <!-- START FOOTER -->
        {% spaceless %}
        {% block footer %}
        <div class="footer">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link">The Krusty Krab Inc, 124 Conch Street, Bikini Bottom 90210</span>
                <br> Don't like these emails? <a href="http://example.com/">Unsubscribe</a>.
              </td>
            </tr>
            <tr>
              <td class="content-block powered-by">
                Powered by <a href="https://github.com/voiio/emark/">eMark↓</a>.
              </td>
            </tr>
          </table>
        </div>
        {% endblock footer %}
        {% endspaceless %}
        <!-- END FOOTER -->

      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
