<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>eMark Dashboard</title>
    <body>
      <h2>eMark Dashboard</h2>
      {% regroup emails by app_label as emails_by_app_label %}
      {% for app_label in emails_by_app_label %}
        <h3>{{ app_label.grouper }}</h3>
        <ul>
          {% for email in app_label.list %}
            <li>
              <a href="{{ email.detail_url }}">{{ email.name }}</a>
              {% if email.doc %}-- {{ email.doc }}{% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </body>
  </html>
